[Unit]
Description=Telegram bot 'ReminderBot'
After=syslog.target
After=network.target

[Service]
Type=simple
User=reminderbot
WorkingDirectory=/home/reminderbot/ReminderBot/bot_app/
ExecStart=/home/reminderbot/ReminderBot/my-venv/bin/python3 /home/reminderbot/ReminderBot/bot_app/bot.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target