[Unit]
Description=Telegram bot 'ReminderBot'
After=network.target

[Service]
EnvironmentFile=/etc/environment
WorkingDirectory=/home/bot/ReminderBot/
ExecStart=/home/bot/ReminderBot/my-venv/bin/python3 /home/bot/ReminderBot/bot_app/bot.py --server-in-foreground
ExecReload=/home/bot/ReminderBot/my-venv/bin/python3 /home/bot/ReminderBot/bot_app/bot.py --server-in-foreground
KillMode=process
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target